@charset "UTF-8";
@import url("../fonts/pretendard/pretendard.css");

/* A4 규격 및 인쇄 스타일 */
body {
	background-color: #525659;
	font-family: 'Malgun Gothic', 'Dotum', sans-serif;
}

.toolbar {
	font-family: 'Pretendard', sans-serif;;
}

.page-container {
	width: 210mm;
	min-height: 297mm;
	padding: 20mm;
	margin: 0px auto 30px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
}

h1 {
	font-size: 26pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	letter-spacing: -1px;
}

.secTitle {
	font-size: 12pt;
	font-weight: bold;
	color: #000;
	margin-top: 25px;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

.secTitle::before {
	content: '■';
	color: #000;
	margin-right: 8px;
	font-size: 10pt;
}

.biz-table {
	width: 100%;
	border-collapse: collapse;
	font-size: 10pt;
	margin-bottom: 10px;
}

.biz-table th, .biz-table td {
	border: 1px solid #000;
	padding: 6px 8px;
	vertical-align: middle;
}

.biz-table th {
	background-color: #DBEAFE;
	text-align: center;
	font-weight: bold;
}

.biz-table td {
	word-break: break-all;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bg-header {
	background-color: #E0F2F7;
}

.pm-comment {
	width: 100%;
	height: 120px;
	border: none;
	resize: none;
	outline: none;
	font-family: inherit;
}

.chart-row {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	border: 1px solid #000;
	padding: 10px;
}

.chart-box {
	width: 48%;
	text-align: center;
}

.chart-title {
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 10px;
	text-decoration: underline;
}

.toolbar {
	width: 210mm;
	margin: 10px auto;
	display: flex;
	justify-content: flex-end;
}